allow zygote property_socket:sock_file write;
allow zygote system_prop:property_service set;
allow zygote platform_app_data_file:dir search;
allow zygote platform_app_data_file:file {open read getattr append};
allow zygote proc:file append;
allow zygote cpuctl_device:dir search;
