import /init.board.rc
import /init.scx15.usb.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug

on init
    mkdir /productinfo 0774 system system
    mkdir /mnt/media_rw/sdcard0 0700 media_rw media_rw
    mkdir /storage/sdcard0 0700 root root
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export SECONDARY_STORAGE /storage/sdcard0
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated

    # Support legacy paths
    # move this to board level init @{
    #symlink /storage/emulated/legacy /sdcard
    #symlink /storage/emulated/legacy /mnt/sdcard
    # @}
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy

on fs
    ubiattach 0 ubipac
    mount_all /fstab.scx15
    setprop ro.crypto.fuse_sdcard true

#Allow others to read fb devices
    chmod 664 /dev/graphics/fb0
    chmod 664 /dev/fb0

on post-fs
    chown system system /productinfo
    chmod 0774 /productinfo
    insmod /system/lib/modules/mali.ko
    insmod /system/lib/modules/trout_fm.ko

on early-boot
    # set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864

    # Support audio loopback test
    mkdir /dev/pipe 0755 system system
    pipe 666 /dev/pipe/mmi.audio.ctrl
    # Support audio parameter stored
    mkdir /data/local/media 0777 media system

    # add for storage manage @{
    mkdir /data/media 0770 media_rw media_rw
    mkdir /data/media/temp_sd 0775 media_rw media_rw
    # @}

    chmod 660 /proc/cpt/wdtirq
    chmod 660 /proc/cpt/stop
    chmod 660 /proc/cpt/start
    chmod 660 /proc/cpt/modem
    chmod 660 /proc/cpt/dsp

    chown system root /proc/cpt/wdtirq
    chown system root /proc/cpt/stop
    chown system root /proc/cpt/start
    chown system root /proc/cpt/modem
    chown system root /proc/cpt/dsp

    chmod 660 /proc/cpw/wdtirq
    chmod 660 /proc/cpw/stop
    chmod 660 /proc/cpw/start
    chmod 660 /proc/cpw/modem
    chmod 660 /proc/cpw/dsp

    chown system root /proc/cpw/wdtirq
    chown system root /proc/cpw/stop
    chown system root /proc/cpw/start
    chown system root /proc/cpw/modem
    chown system root /proc/cpw/dsp

    chmod 660 /proc/cpwcn/wdtirq
    chmod 660 /proc/cpwcn/stop
    chmod 660 /proc/cpwcn/start
    chmod 660 /proc/cpwcn/modem
    chmod 660 /proc/cpwcn/dsp

    chown system root /proc/cpwcn/wdtirq
    chown system root /proc/cpwcn/stop
    chown system root /proc/cpwcn/start
    chown system root /proc/cpwcn/modem
    chown system root /proc/cpwcn/dsp

on boot
    chown system system /sys/class/backlight/sprd_backlight/brightness

    chown system system /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/ondemand/set_enable
    chown system system /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/ondemand/set_upthreshold
    chown system system /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/ondemand/set_downdifferential
    chown media system /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/ondemand/set_freq
    chown media system /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/ondemand/set_request
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0660 /sys/devices/platform/scxx30-dmcfreq.0/devfreq/scxx30-dmcfreq.0/ondemand/set_freq

on charger
    class_start core

on alarm
    class_start core
    start media
    exec /system/bin/poweroff_alarm

on property:ro.debuggable=1
    write /sys/kernel/debug/fatal_dump/enable 1
    setrlimit 4 -1 -1
    mkdir /data/corefile
    chmod 777 /data/corefile
    write /proc/sys/kernel/core_pattern /data/corefile/core-%e-%p
    write /proc/sys/fs/suid_dumpable 1

on property:ro.modem.w.count=1
    write /proc/sim/0 w

# SPRD: add for theme setting @{
on property:universe_ui_support=true
    start theme_init

service theme_init /system/bin/theme_init.sh
    disabled
    oneshot
# @}

# add for storage manage @{
on property:persist.storage.type=1
    start legacy_tempsd

on property:sys.tempsd.enable=1
    start fuse_tempsd

on property:sys.tempsd.enable=0
    stop fuse_tempsd

service legacy_tempsd /system/bin/sdcard -u 1023 -g 1023 -l /data/media/temp_sd /storage/temp_sd
    disabled

service fuse_tempsd /system/bin/sdcard -u 1023 -g 1023 -l /data/media/temp_sd /storage/sdcard0
    class late_start
    disabled
# @}

# modify for physical external storage could be writable
service fuse_sdcard0 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard0 /storage/sdcard0
    class late_start
    disabled

# virtual sdcard daemon running as media_rw (1023)
service sdcard /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
    class late_start

service modemd /system/bin/modemd
    class core
    user system
    group system radio shell
    oneshot

service wcnd /system/bin/wcnd
    class core
    user system
    group system shell wifi inet
    oneshot

service phoneserver_t /system/bin/phoneserver -m t
    class core
    user root
    group radio system shell
    disabled
    oneshot

service phoneserver_w /system/bin/phoneserver -m w
    class core
    user root
    group radio system shell
    disabled
    oneshot

service batterysrv /bin/batterysrv
    class core
    user system
    group system shell
    oneshot

service charge /bin/charge
    class charger
    user root
    oneshot

#td rild service
service tril-daemon /system/bin/rild_sp -l /system/lib/libreference-ril_sp.so -m t -n 0
    class core
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    disabled
    user root
    group radio cache inet misc audio sdcard_rw log

service tril-daemon1 /system/bin/rild_sp -l /system/lib/libreference-ril_sp.so -m t -n 1
    class core
    socket rild1 stream 660 root radio
    socket rild-debug1 stream 660 radio system
    disabled
    user root
    group radio cache inet misc audio sdcard_rw log

#wcdma rild service
service wril-daemon /system/bin/rild_sp -l /system/lib/libreference-ril_sp.so -m w -n 0
    class core
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    disabled
    user root
    group radio cache inet misc audio sdcard_rw log shell

service wril-daemon1 /system/bin/rild_sp -l /system/lib/libreference-ril_sp.so -m w -n 1
    class core
    socket rild1 stream 660 root radio
    socket rild-debug1 stream 660 radio system
    disabled
    user root
    group radio cache inet misc audio sdcard_rw log shell

#nvitemd
service nvitemd_w /system/bin/nvitemd /dev/spipe_w1 /system/etc/nvitem_w.cfg        FALSE
    class core
    user root
    group system radio shell
    oneshot

service slog /system/bin/slog -t
    class main
    user root

service refnotify /system/bin/refnotify -t 0
    class main
    user root

service refnotify_w /system/bin/refnotify -t 1
    class main
    user root

on property:persist.modem.w.enable=1
    symlink /dev/slog_w /dev/vbpipe0
    symlink /dev/spipe_w1 /dev/vbpipe1
    symlink /dev/spipe_w2 /dev/vbpipe2
    symlink /dev/spipe_w3 /dev/vbpipe3
    symlink /dev/spipe_w6 /dev/vbpipe6
    symlink /dev/stty_w0 /dev/ts0710mux0
    symlink /dev/stty_w1 /dev/ts0710mux1
    symlink /dev/stty_w2 /dev/ts0710mux2
    symlink /dev/stty_w3 /dev/ts0710mux3
    symlink /dev/stty_w4 /dev/ts0710mux4
    symlink /dev/stty_w5 /dev/ts0710mux5
    symlink /dev/stty_w6 /dev/ts0710mux6
    symlink /dev/stty_w7 /dev/ts0710mux7
    symlink /dev/stty_w8 /dev/ts0710mux8
    symlink /dev/stty_w9 /dev/ts0710mux9
    symlink /dev/stty_w10 /dev/ts0710mux10
    symlink /dev/stty_w11 /dev/ts0710mux11
    symlink /dev/stty_w12 /dev/ts0710mux12
    symlink /dev/stty_w13 /dev/ts0710mux13
    symlink /dev/stty_w14 /dev/ts0710mux14
    symlink /dev/stty_w15 /dev/ts0710mux15
    symlink /dev/stty_w16 /dev/ts0710mux16
    symlink /dev/stty_w17 /dev/ts0710mux17
    symlink /dev/stty_w18 /dev/ts0710mux18
    symlink /dev/stty_w19 /dev/ts0710mux19
    symlink /dev/stty_w20 /dev/ts0710mux20
    symlink /dev/stty_w21 /dev/ts0710mux21
    symlink /dev/stty_w22 /dev/ts0710mux22
    symlink /dev/stty_w23 /dev/ts0710mux23
    symlink /dev/stty_w24 /dev/ts0710mux24
    symlink /dev/stty_w25 /dev/ts0710mux25
    symlink /dev/stty_w26 /dev/ts0710mux26
    symlink /dev/stty_w27 /dev/ts0710mux27
    symlink /dev/stty_w28 /dev/ts0710mux28
    symlink /dev/stty_w29 /dev/ts0710mux29
    symlink /dev/stty_w30 /dev/ts0710mux30
    symlink /dev/stty_w31 /dev/ts0710mux31



#create symlink
service smd_symlink /system/bin/ext_symlink.sh -u
    user root
    disabled
    oneshot

#data on
service data_on /system/bin/ext_data.sh  -u
    user root
    disabled
    oneshot

#data off
service data_off /system/bin/ext_data.sh  -d
    user root
    disabled
    oneshot

#kill td app
service kill_td_phone /system/bin/ext_kill.sh  -t
    user root
    disabled
    oneshot

#kill w app
service kill_w_phone /system/bin/ext_kill.sh  -w
    user root
    disabled
    oneshot

#change owner
service chown_service /system/bin/ext_chown.sh  -c
    class main
    user root
    oneshot

#set mac addr
service set_mac /system/bin/ext_chown.sh  -e
    user root
    disabled
    oneshot

service  inputfreq  /system/bin/inputfreq.sh
    user root
    disabled
    oneshot

service  recoveryfreq  /system/bin/recoveryfreq.sh
    user root
    disabled
    oneshot

    chmod 0666 /proc/pin_switch/iis0_sys_sel/cp0_iis0
    chmod 0666 /proc/pin_switch/iis0_sys_sel/cp1_iis0
    chmod 0666 /proc/pin_switch/iis0_sys_sel/cp2_iis0
    chmod 0666 /proc/pin_switch/iis0_sys_sel/ap_iis0
    chmod 0666 /proc/pin_switch/bt_iis_sys_sel/cp0_iis0
    chmod 0666 /proc/pin_switch/bt_iis_sys_sel/cp1_iis0
    chmod 0666 /proc/pin_switch/bt_iis_sys_sel/cp2_iis0
    chmod 0666 /proc/pin_switch/bt_iis_sys_sel/ap_iis0
